{
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": true,
        "debug": false,
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "node": 12
        }
      }
    ]
  ]
}